{% extends 'base.html' %}

{% block content %}
{% load static %}

<main>
    <div class="row">
        <div class="col-xl-6 mt-3 ms-3 me-auto">
            <div class="card mb-4" style="height: 100%;">
                <div class="card-header" style="font-size: 20px;">
                    <i class="fas fa-chart-area me-1"></i>
                    Perencanaan Agenda
                </div>
                <div style="text-align: center;">
                    <a href="{% url 'input_Agenda' %}" class="btn btn-success mt-3" style="width: 400px;">Tambah
                        Data</a>
                </div>
                <div class="card-body">
                    <table id="datatablesSimple" style="font-size: 20px;">
                        <thead>
                            <tr>
                                <th style="text-align: center;">No</th>
                                <th style="text-align: center;">Nama Kegiatan</th>
                                <th style="text-align: center;">Tempat</th>
                                <th style="text-align: center;">Waktu</th>
                                <th style="text-align: center;">Tanggal</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>No</th>
                                <th>Nama Kegiatan</th>
                                <th>Tempat</th>
                                <th>Waktu</th>
                                <th>Tanggal</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for post in kegiatan %}
                            <tr>
                                <td style="text-align: center;">{{forloop.counter}}</td>
                                <td>{{post.r_kegiatan}}</td>
                                <td>{{post.r_tempat}}</td>
                                <td>{{post.r_waktu}}</td>
                                <td>{{post.r_tanggal}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-5 mt-3 ms-auto me-5">
            <div class="card mb-4">
                <div class="card-header" style="text-align: center; font-weight: bold;">
                    Profil
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center p-1 py-1">
                        <img class="rounded-circle img-thumbnail" src="{% static 'img/kunaifi.jpeg' %}" style="height: 120px; width: 120px;">

                        <span class="font-weight-bold">Kunaifi, ST., PgDipEnST., M.Sc.</span>
                        <span class="text-black-50">Pekanbaru-Riau</span>
                        
                        <div class="mt-2 p-3">
                            <p style="text-align: center; font-weight: bold;">Bidang Keahlian:</p>
                            <span style="text-align: center;"> Energi Terbarukan, Efisiensi Energi dan Sustainability</span>

                            <p style="text-align: center; font-weight: bold;" class="mt-4">Riwayat Pendidikan:</p>
                            <span style="text-align: center;">
                                Magister Sains (M.Si.) (kandidat)	
                                Universitas Riau, Indonesia	
                                Ilmu Lingkungan <br>

                                Master of Science (M.Sc.)	
                                Murdoch University, Australia	
                                Energi Terbarukan
                                November 2009<br>

                                Postgraduate Diploma in Energy Studies (PgDipEnSt)
                                Murdoch University, Australia	
                                Energy Studies
                                November 2008<br>

                                Sarjana Teknik (ST.)	
                                STTNAS Yogyakarta	
                                Teknik Elektro
                                September 2001

                            </span>
                        </div>
                        <div style="display: flex;">
                            <div style="margin: 5px;">
                                <p><i class="fas fa-envelope me-2"></i>kunaifi@gmail.com</p>
                            </div>
                            <div style="margin: 5px;">
                                <p><i class="fab fa-blogger me-2 "></i>kunaifi.wordpress.com </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        {% for pesan in messages %}
            swal({
                title: "Success!",
                text: "{{pesan}}",
                icon: "success",
                button: "Ok",
            });
        {% endfor %}
    </script>
</main>
{% endblock %}